@use '../../styles/spacing';
@use '../../styles/colors';

.interestsList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 spacing.$l;
    margin: spacing.$sm * -1;
}

.interestsListItem {
    border: 2px solid colors.$green;
    padding: 6px 14px;
    border-radius: 6px;
    margin: spacing.$sm;
}
