@use '../../styles/spacing';

.skillsList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 spacing.$l;
    margin: spacing.$sm * -1;
}

.skillsListItem {
    color: #fff;
    background-color: #2cbfaa;
    padding: 6px 14px;
    border-radius: 6px;
    margin: spacing.$sm;
}
