@use '../../styles/typography';
@use '../../styles/spacing';

.languages {
    display: flex;
    padding: 0 spacing.$l;

    &:not(:first-child) {
        margin-left: spacing.$l;
    }
}

.proficiency {
    @include typography.secondaryTitle();
}
