@use '../../styles/typography';

.infoList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.infoListItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    &:not(:first-child) {
        margin-top: typography.$base;
    }
}
